h2 {
    display: block;
    padding: 1.5rem;
    border: 1px solid black;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 70%;
}


.adicionar {

    border: 0;

    display: flex;

    justify-content: center;

}

.adicionar a {
    display: flex;

    justify-content: center;

    padding: 1.5rem;

    border: 1px solid black;

    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;

    margin-top: 2rem;

    width: 50%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85%;
    align-items: center;
}

input {
   width: 70%;

}