div {
    display: block;
    padding: 1.5rem;
    border: 3px solid #F5BE60;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 70%;
    background-color: #D6D6D6;
    font-family: 'Open Sans', sans-serif;
    
}
ul {
    list-style-type: disc;
    width: 75%;
}
.concluido {
    display: block;
    border-radius: 2.5rem 2.5rem 0rem 0rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    width: 80%;
    font-family: 'Open Sans', sans-serif;
    background-color: #F5D49D
}
.concluido a {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    border: 3px solid #F5BE60;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    background-color: #A7C6E8;
}
li{
    font-family: 'PT Serif', serif;
    font-size: .9rem;
    padding: 0.5rem;
    padding-top: 0rem;
}
p{
    width: 75%;
    font-family: 'PT Serif', serif;
    font-size: .9rem;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
}

h2 {
    margin-bottom: 0.5rem;
}
