main {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 75%;
    align-items: center;
}

h3{
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    align-items: center;
}

h2{
    border: .1rem solid black;
    border-radius: 3rem .5rem 3rem .5rem;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 1rem;
    width: 60%;
}

.ultimo{
    height: 15%;
}

.info{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.65rem;
    display: flex;
    padding: 0.5rem;
}
header{
    margin-left: 3rem;
    width: 90%;
    height: 25%;
    flex-direction: column;
    align-items: flex-start;
}

h1{
    flex-direction: row;
    display: flex;
    margin: 0ch;
    padding: 0;
    border: 0;
    width: auto;
    margin-left: 1rem;
    justify-content: center;
    align-items: center;
}
.caixa1{
    position: relative;
    border: 1px solid black;
    border-radius: 5rem 0rem 0rem 0rem;
}

.caixa4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 0rem 0rem 5rem 0rem;
    margin-left: 0.05rem;
}
div{
    display: flex;
    align-items: center;
}
.ovos{
    width: 4rem;
    height: 4rem;

}
.blaus{
    width:100%;
    height: 80%;
    flex-direction:row;
    flex-wrap:wrap;
}

.blaus div{
    width: 45%;
    height: 50%;
}
