h2 {
    display: block;
    padding: 1rem;
    border: 1px solid #F5BE60;
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Open Sans', sans-serif;
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    height: 70%;
}
.add{
    border: 0;
    display: flex;
    justify-content: center;
    width: 80%;
}
.add a {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: 2px solid #F5BE60;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    width: 100%;
    background-color: #A7C6E8;
}
li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #F5BE60;
    border-radius: 5rem 0.5rem 5rem 0.5rem;
    width: 60%;
    background-color: #D6D6D6;
    font-family: 'Open Sans', sans-serif;
}
li a {
    position: absolute;
    right: -2.5rem;
}
div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid#F5BE60;
    border-radius: 5rem 0.5rem 5rem 0.5rem;
    padding: 0.7rem;
    width: 20%;
    justify-content: center;
}
li img{
    margin-left: 1.25rem;
}

p{
    font-family: 'Open Sans', sans-serif;
}

#divBusca{

    background-color:#F5BE60;
    border: 1.5px solid#F5BE60;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    width:60%;
    margin-top: 2rem;
    height:30px;
    
  }
  
  #txtBusca{
    float:left;
    background-color:#D6D6D6;
    border-radius: 5rem 0.5rem 5rem 0.5rem;
    padding-top: 6px;
    padding-left:10px;
    font-size:14px;
    width: 80%;
    border:1px solid #F5BE60;
    font-family: 'Open Sans', sans-serif;
 
    
    height:20px;
    width:220px;
  }
   
  #divBusca img{
    float:left;
  }

