main {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 75%;
    align-items: center;
}
h1{
    background-color: #F5D49D;
}
h3{
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: 3px solid #F5BE60;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    width: 70%;
    font-size: 1.2rem;
    align-items: center;
    background-color: #A7C6E8;
    font-family: 'Open Sans', sans-serif;
}

h2{
    background-color: #D6D6D6;
    border: 3px solid #F5BE60;
    border-radius: 3rem .5rem 3rem .5rem;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 70%;
    height: 10%;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
}
p{
    margin-top: -4rem;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}
.info{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    display: flex;
    padding: 0rem 1rem 0.5rem 0rem;
    background-color: #F5BE60;
}
header{
    margin-left: 3rem;
    width: 90%;
    height: 25%;
    flex-direction: column;
    align-items: flex-start;
}

h1{
    flex-direction: row;
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    margin-left: 1rem;
    justify-content:center;
    align-items: center;
}
.caixa1{
    position: relative;
    border: 1px solid black;
    border-radius: 5rem 0rem 0rem 0rem;
    background-color: #F5BE60;
    margin-left: -0.05rem;
}
.caixa3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.caixa4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 0rem 0rem 5rem 0rem;
    margin-left: 0.05rem;
    background-color: #F5BE60;
}
div{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.ovos{
    width: 4rem;
    height: 4rem;
}
.blaus{
    width:100%;
    height: 80%;
    flex-direction:row;
    flex-wrap:wrap;
}
.blaus div{
    width: 45%;
    height: 50%;
}