main {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    height: 75%;
    align-items: center;
}
h1{
    background-color: #F5BE60;
}
h3{
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: 2px solid #F5BE60;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    align-items: center;
    background-color: #A7C6E8;
    font-family: 'Open Sans', sans-serif;
    width: 70%;

}

h2{
    background-color: #D6D6D6;
    border: 1.5px solid #F5BE60;
    border-radius: 3rem .5rem 3rem .5rem;
    justify-content: center;
    display: flex;
    align-items: center;
    width: 70%;
    height: 10%;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
}
p{
    margin-top: -4rem;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
}
.info{
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    display: flex;
    padding: 0rem 1rem 0.5rem 0rem;
    background-color: #F5BE60;
}
header{
    margin-left: 3rem;
    width: 90%;
    height: 25%;
    flex-direction: column;
    align-items: flex-start;
}

h1{
    flex-direction: row;
    display: flex;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 0.4rem;
    font-size: 2rem;
    width: 70%;
    justify-content:center;
    align-items: center;

}


.caixa1{
    position: relative;
    border: 2px solid #F5D49D;
    border-radius: 10rem 0rem 0rem 0rem;
    background-color: #F5BE60;
    margin-left: -0.05rem;
}

.caixa2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5D49D;
    background-color: #F5BE60;
    border-radius: 0rem 0rem 0rem 0rem;
}
.caixa3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F5D49D;
    background-color: #F5BE60;
    border-radius: 0rem 0rem 0rem 0rem;
}
.caixa4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #F5D49D;
    border-radius: 0rem 0rem 10rem 0rem;
    background-color: #F5BE60;
}
div{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.ovos{
    width: 3.5rem;
    height: 3.5rem;
}
.info{
    font-size: 26px;
}

.ovos_fonte {
    font-size: 26px;
    padding-bottom: 6px;
}

.blaus{ 
    width:100%;
    height: 60%;
    flex-direction:row;
    flex-wrap:wrap;

}
.blaus div{
    width: 45%;
    height: 50%;

}
