html,body {
    height: 100%;
    width: 100%;
}

div {
    width: 100%;
}

header{
    display: flex;

    justify-content: center;
}

.volta {

    height: 2.5rem;

    width: 2.5rem;

    justify-content: flex-start;

    position: absolute;

    top: 60px;

    left: 0;

}


.buscar{
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 3rem;
    margin-top: 2rem;
    padding-top: 15rem;
    padding-bottom: .5rem;
}




.icone{
    width: 2rem;
    height: 2rem;
}


ul {
    flex-grow: 1;
}

li div{
    font-size: 2rem;
    margin: 3rem 1rem 3rem 1rem;
    border: .1rem solid black;
    border-radius: 5rem 0.5rem 5rem 0.5rem;
    padding: 1rem;
    
}

input[type="text"] {
    align-items: center;
    font-size: 2rem;
    margin: .5rem 1rem 1rem;
    padding: 1rem;
}

h2 a{
    font-size: 2rem;
    display: block;
    margin: 1rem;
    border: .1rem solid black;
    padding: .5rem 1rem;
    text-align: center;
    border-radius: 1rem 1rem 1rem 1rem;
    
}


