h1{
    font-size: 1.5rem;
}
h2{
    border: 3px solid #F5BE60;
    border-radius: 5rem .5rem 5rem .5rem;
    display:flex;
    justify-content:center;
    margin: 2rem;
    width: 70%;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
    background-color: #A7C6E8;
    font-family: 'Open Sans', sans-serif;
}
main{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
input[type="text"] {
    font-size: .5rem;
    margin: .1rem;
    padding: .5rem;
    justify-content: right;
    font-size: 1rem;
}
.add {
    border: 0;
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: #F5D49D;
    font-family: 'Open Sans', sans-serif;
}

.add a {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border: 3px solid #F5BE60;
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    margin-top: 1rem;
    width: 100%;
    background-color: #A7C6E8;
}