html,body {
    height: 100%;
    width: 100%;
    background-color: #F5D49D;
}


h1 {
    display: inline;
    padding: 1.5rem;
    border: 2px solid #F5BE60;
    border-radius: 5rem 0.5rem 5rem 0.5rem;
    margin-top: 2rem;
    font-size: 2rem;
    justify-content: center;
    font-weight: bold;
    width: 70%;
    text-align: center;
    background-color: #F5BE60;
    font-family: 'Open Sans', sans-serif;
}

.seta {

    height: 2.5rem;
    
    width: 2.5rem;
    
    justify-content: flex-start;
    
    position: absolute;
    
    top: 60px;
    
    left: 0;
    
    }

img {
    height: 2.5rem;
    
    width: 2.5rem;
    
    }

header {

    display: flex;
    
    justify-content: center;
    
    }
