
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
}


p{
    padding: 8rem 2rem 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4rem;
}

main a{
    padding: 6rem 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}