
html,body {
    max-height: 100%;
    overflow-y: hidden;
}

ul {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}

li{
    padding-top: 5rem;
    width: 70%;
}

a.icones {
    display: flex;
    justify-content: center;
    border: 2px solid #F5BE60;
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #A7C6E8;
    font-family: 'Open Sans', sans-serif;
} 