
.calendario {
    top: 1rem;
    position: relative;

}

.data{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
    
}

.lupa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50%;
}
input{
    display: inline;
    margin: 0 1.4rem 0 1rem;
    margin-top: 1.2rem;
    padding: 1rem 2rem 1rem 4rem;
    border: none;
    border-radius: 2rem .5rem 2rem .5rem;
}

ul {
    margin-top: 3rem;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    height: 50%;
    align-items: center;
    padding-top: 1rem;
    font-size: 1.5rem;
}
main{ 
    height: 100%;
    width: 100%;
}
li {
    display: flex;
    justify-content: center;
    font-size: 1.5rem ;
    border: 3px solid #F5BE60;
    border-radius: 5rem 0.5rem 5rem 0.5rem;
    padding: 0.5rem;
    padding-bottom: 1.3rem;
    padding-top: 0.3rem;

    background-color: #A7C6E8;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 4.5rem;
    width:  60%;
    height: 18%;
}
